@font-face {
    font-family: Avenir-regular;
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Avenir-bold;
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}



$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$brainflix-darkBlue: #0065AD;
$silver: #AFAFAF;
$white: #FFFFFF;
$brainflix-darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;