@import './../../../styles/partials/mixins.scss';
@import './../../../styles/partials/variables.scss';

//Main video section

.main-video{
    video{
        width: 100%;
       position: relative;
       top: -3rem;
       
    }

    &__scrup{
        position: relative;
        top: -5rem;
    }
    &__play{
        position: relative;
        top: -5rem;
    }
    &__closeScreen{
        position: relative;
        top: -5rem;
    }
    hr{
        border: none;
        width: 90%;
        background-color: $mercury;
        height: 0.13rem;
        margin:0;
        margin-left: 1rem;
    }

    &__title{
        
        font-family: Avenir-bold;
        font-size: 1.9rem;
        line-height: 2.5rem;
        margin-left: 1.2rem;
        position: relative;
        top: -1.5rem;
        color: $brainflix-black;
       
    }

  &__container{

        display: flex;

    &__block{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
        }

        &__channel-name{
            font-family: Avenir-bold;
            font-size: 1.2rem;
            margin: 1rem;
            color: $brainflix-black;

            @include tablet{
                margin-left: 2rem;
            }
        }
    
        &__date{
            font-size: 1rem;
            font-family: Avenir-regular;
            color: $silver;
            margin: 1rem;

            @include tablet{
                margin-left: 2rem;
            }
    
        }
    }
    &__inline{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            flex-direction: row;
        }
       

        &__views-img{
            width: 1.5rem;
            position: relative;
            top: 1rem;
            left: 9.5rem;

            @include tablet{
                top: -0.2rem;
                left: 11rem;
            }
        }

              
        &__likes-img{
            width: 1.2rem;
            position: relative;
            top: 3.2rem;
            left: 9.5rem;

            @include tablet{
                top:-0.2rem;
                left: 22.8rem;
            }
        }

        &__text{
            font-size: 1rem;
            font-family: Avenir-regular;
            color: $silver;
            margin: 1rem 0 1rem 10rem;

            @include tablet{
                position: relative;
                
            }
        }
    }

    &__description{
        font-family: Avenir-regular;
        color: $brainflix-black;
        font-size: 1rem;
        line-height: 1.7rem;
        width: 90%;
        margin: 1rem;

        @include tablet{
            margin-left: 2rem;
        }
    }

  }
   
}

// Comments Input Section

.comments-container{


    h2{
        font-family: Avenir-bold;
        color: $brainflix-black;
        font-size: 1.1rem;
        margin: 1.5rem;
    }

    &__block{


        h3{
            font-family: Avenir-regular;
            color: $silver;
            margin: 1rem 5.5rem;
            font-size: 1rem;
        }

        &__avatar-picture{
            border-radius: 90%;
            height: 45px;
            width: 50px;
            position: relative;
            top: -0.8rem;
            left: 1.8rem;
        }

        input{
            height: 2rem;
            position: relative;
            top: -1.8rem;
            left: 2.5rem;
            padding-bottom: 5rem;
            padding-left: 1rem;
            
        }

        &__button{
            background-color: $brainflix-blue;
            position: relative;
            border-radius: 0.2rem;
            top:-1.4rem;
            left: 5.5rem;
            padding: 0.2rem 1rem;
            width: 60%;

            h4{
                color: $white;
                position: relative;
                left: 6rem;
                top: -0.8rem;
                font-family: Avenir-regular;
                width: 50%;
            }
            img{
                position: relative;
                top: 1rem;
                left: 0.1rem;
            }
        }
    }

    //Published comments section

    li{
        height: 1.5rem;

        @include tablet{
            height: 0.2rem;
        }

       
    }

    &__title{
        font-family: Avenir-bold;
        font-size: 1.1rem;
        color: $brainflix-black;
        margin: 1rem 5.5rem;
        list-style-type: none;
        
    }
    &__message{
        font-family: Avenir-regular;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $brainflix-black;
        margin: 1rem 5.5rem;
        list-style-type: none;
        position: relative;
        top: -4rem;

        
        @include tablet{
            top: -2.5rem;
        }
    }

    &__date{
        font-family: Avenir-regular;
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: $silver;
        margin: 1rem 5.5rem;
        list-style-type: none;
        position: relative;
        top: -8.8rem;
        left: 13.5rem;
        width: 20%;

        @include tablet{
            margin-left: 30rem;
            top: -6rem;
        }
    }

    &__avatar{
            border-radius: 90%;
            height: 45px;
            width: 50px;
            background-color: $mercury;
            position: relative;
            top: -2.5rem;
            left: 1.5rem;

            @include tablet{
                top: -1.2rem;
            }
    }
}