@import './../../../styles/partials/mixins.scss';
@import './../../../styles/partials/variables.scss';

.main-video{
    &__poster{

    
       
        @include tablet{
            background-color: $brainflix-darkBlack;
            position: relative;
            top: -3rem;
        
        }

        @include desktop{
            width: 100%;
            margin: 0;
        }

        video{

        width: 100%;
           position: relative;
           top: -3rem;
           
           @include tablet{
            width: 80%;
            top: 0.2rem;
            left: 5rem;
            
           }
           @include desktop{
            width:920px;
            height: 500px;
            top: 0.2rem;
            left: 20rem;
            //margin-left: 12rem;
            
           }
        }
    }
}