@import './../../styles/partials/mixins.scss';
@import './../../styles/partials/variables.scss';

.button-container{
   button{
    width: 90%;
    margin: 1rem;
    padding: 1rem 2.5rem;
    position: relative;
    top: -3.5rem;
    font-family: Avenir-regular;
    color: $white;    
    background-color: $brainflix-blue;
    border: 0.3rem solid $brainflix-blue;
    border-radius: 0.3rem;
    text-align: center;
    align-items: center;
    font-size: 1rem;

    @include tablet{
       width: 40%;
       padding: 1.2rem 6.5rem 1.4rem 4.5rem;
        top: 0.5rem;
        left: 0.2rem;
        height: .7rem;
        font-size: 0.9rem;
       
    }

    @include desktop{
        padding: 1rem 7.5rem 1.4rem 5.5rem;
        width: 20%;
        top: 0.6em;
        left: -3rem;
    }
    @include desktopHigh{
        left: -3rem;
        width: 15%;
        height: 0.4rem;
        top: 0.5rem;
    
    }
   }
   

    img{
        position: absolute;
        top: .5rem;
        width: 8%;

        @include tablet{
            width: 2rem;
            top: 0.6rem;
            left: 1rem;
        }
        @include desktop{
            top: 0.6rem;
            width: 14%;
            left: 1rem;
        }
    }
   

    
}

