@import './../../styles/partials/mixins.scss';
@import './../../styles/partials/variables.scss';

.button-container{
    width: 75%;
    margin: 1rem;
    height: 1rem;
    padding: 1rem 2rem;
    position: relative;
    top: -3.5rem;
    font-family: Avenir-regular;
    color: $white;    
    background-color: $brainflix-blue;
    border: 0.3rem solid $brainflix-blue;
    border-radius: 0.3rem;
    text-align: center;
    align-items: center;

    @include tablet{
       width: 40%;
       padding: 1rem 2.5rem;
        top: 0.5rem;
        left: -5rem;
        height: .7rem;
        font-size: 0.9rem;
    }

    @include desktop{
        width: 20%;
        padding: 1rem 1rem;
        top: 1em;
        left: -17rem;
    }
    @include desktopHigh{
        left: -20rem;
    
    }
   

    img{
        position: absolute;
        top: .5rem;
        width: 8%;

        @include tablet{
            width: 2rem;
            top: 0.8rem;
        }
        @include desktop{
            top: 0.6rem;
            width: 14%;
            left: 1rem;
        }
    }
    h2{
        position: absolute;
        top: 1rem;
        left: 12rem;
        font-size: 1rem;

        @include tablet{
            left: 5rem;
        }
        @include desktop{
            font-size: 0.9rem;
            left:4rem;
        }
        @include desktopHigh{
            left: 6rem;
        }

    }
}