@import '/src/styles/partials/mixins.scss';

.avatar{
    border-radius: 90%;
    height: 45px;
    width: 50px;
    position: relative;
    top: -4.3rem;
    left: 24rem;
   

   @include tablet{
    
    left: 35.5rem;
    height: 35%;
    width: 13%;
    top: -4.5rem;
   
   }

   @include tabletInt{
    left: 42rem;
   }
    @include desktop{
        left: 33.5rem;
        top: -5.1rem;
        width: 9%;
        height: 30%;

    }

    @include desktopHigh{
        left: 37rem;
    }
}
