@import '/src/styles/partials/mixins.scss';

.avatar{
    border-radius: 90%;
    height: 45px;
    width: 50px;
    position: relative;
    top: -4.3rem;
    left: 24rem;
   

   @include tablet{
    
    left: 28.5rem;
    height: 45px;
    width: 55px;
    top: -4.5rem;
   
   }

   
    @include desktop{
        
       left: 37rem;
       top: -4.5rem;
        width: 13.5%;
       
    }

    @include desktopHigh{
       //width: 5.7%;
        left: 36rem;
        top: -4.3rem;
        
    }
}
