@import '../../styles/partials/mixins.scss';

.logo{
    
    margin: 1rem 0 .5rem 7rem;
    width: 28%;
   
    @include tablet{
        width: 40%;
        position: relative;
        height: 2rem;
        left: 1rem;
        top: .1rem;
        margin: 2rem 5rem 1rem 0rem;
    }
    @include desktop{
        margin-right: 30rem;
    }

    @include desktopHigh{
        margin-right: 38rem;
    }
}