@import './../../styles/partials/mixins.scss';
@import './../../styles/partials/variables.scss';

.main-container{

    h1{
        font-family: Avenir-regular;
        position: relative;
        font-size: 1.8rem;
        top: -1.5rem;
        margin-left: 1rem;
        color: $brainflix-black;

        @include tablet{
            font-family: Avenir-bold;
        }

        @include desktop{
            margin-left: 11rem;
        }
    }
    h2{
        font-family: Avenir-regular;
        color: $silver;
        font-size: 0.9rem;
        margin: 0.5rem 1rem 0rem 1rem;

        @include desktop{
            margin-left: 11rem;
        }
    }

    &__label__title{
        font-family: Avenir-regular;
        color: $silver;
        font-size: 0.9rem;
        margin: 0.5rem 1rem 0rem 1rem;

        @include desktop{
            position: relative;
            top: -16.5rem;
            left:36rem;
            font-size: 0.7rem;
    
        }

        @include desktopHigh{
            left: 40.9rem;
        }
    }

    &__label__description{
        font-family: Avenir-regular;
        color: $silver;
        font-size: 0.9rem;
        margin: 0.5rem 1rem 0rem 1rem;

        @include desktop{
            position: relative;
            top: -11rem;
            left: -21rem;
            font-size: 0.7rem;

        }

        @include desktopHigh{
            left: -26rem;
        }
    }


    img{
        width: 92%;
        position: relative;
        left: 1rem;
        top: -0.2rem;
        border-radius: 5px;
       margin: 0.8rem 0rem;

       @include tablet{
        width: 50%;
       }

       @include desktop{
        width: 25%;
        margin-left: 9.8rem;
       }
    }
    &__input--title{
        width: 50%;
        margin-left: 1rem;
        padding: 0.5rem 10rem 0.5rem 1rem;
        margin: 0.5rem 1rem;
        font-size: 0.9rem;

        @include tablet{
            width: 70%;
        }

        @include desktop{
            position: relative;
            top: -14.3rem;
            left: 28rem;
            width: 40%;
            font-size: 0.8rem;
            height: 2rem;
            padding: 0.1rem 7.5rem 0.1rem 1rem;
        }

        @include desktopHigh{
            left: 33rem;
        }
    }
    &__input--description{
        width: 60%;
        margin-left: 1rem;
        padding: 0.5rem 7.5rem 5rem 1rem;
        margin: 0.5rem 1rem;
        font-size: 0.9rem;

        @include tablet{
            width: 75%;
            margin-bottom: 2rem;
        }

        @include desktop{
            position: relative;
            top: -12.3rem;
            left: 36rem;
            width: 40%;
            font-size: 0.8rem;
            height: 2rem;
            padding: 0.5rem 7.5rem 4rem 1rem;
            margin-bottom: 3rem;
        }

        @include desktopHigh{
            left: 41rem;
        }
    }

    &__button{
       // width: 90%;
        background-color: $brainflix-blue;
        border: hidden;
        padding: 0rem 11rem 1rem 11rem ;
        height: 3rem;
        margin: 1rem;
        border-radius: 5px;
        
        @include tablet{
            width: 12rem;
            padding: 0rem 8rem 1rem 1rem;
            margin-left: 36.5rem;
        }

        @include desktop{
            position: relative;
            top: -13.5rem;
            width: 11rem;
            left: 36.5rem;
            height: 3rem;
        
        }

        @include desktopHigh{
            left: 46rem;
        }
        h3{
            color: $white;
            font-family: Avenir-regular;
            position: relative;
            top: -2.1rem;
            font-size: 0.9rem;

            @include tablet{
                left: 4.5rem;
            }

            @include desktop{
                left: 2.9rem;
            }
        }

        img{
            width: 1.5rem;
            position: relative;
            top: 0.1rem;
            left: -10rem;

            @include tablet{
                left: 0.1rem;
            }

            @include desktop{
                left: -10rem;
            }

        }
    }

    P{
        font-family: Avenir-bold;
        color: $brainflix-blue;
        font-size: 0.9rem;
        text-align: center;
        margin: 3rem;

        @include tablet{
            position: relative;
            top: -6rem;
            left: 3rem;
        }

        @include desktop{
            top: -19rem;
            left: 16rem;
        }
    }

    &__hr--hidden{
        visibility: hidden;

        @include tablet{
            visibility: visible;
            position: relative;
            top: -1rem;
            width: 95%;
            margin-left: 1rem;
        }

        @include desktop{
            width: 77%;
            margin-left: 11rem;
        }
    }
    &__line--hidden{
        visibility: hidden;

        @include tablet{
            visibility: visible;
            position: relative;
            top: -0.5rem;
            width: 95%;
            margin-left: 1rem;
        }

        @include desktop{
            width: 77%;
            margin-left: 11rem;
            top: -14rem;
        }
    }
}

hr{
    border: none;
    width: 100%;
    background-color: $mercury;
    height: 0.13rem;
    margin:0;
    position: relative;
    top: -3rem;
}